<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <ul class="list-group">
          <app-item></app-item>
        </ul>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [disabled]="!isAuth">doSomething</button>
    </div>
  </div>
  
  <br/><br/><br/>
  <div class="list-group">
    <h2 *ngIf="query">{{ query }}</h2>
    <a *ngFor="let artist of artists" href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ artist.name }}</h5>
        <small>{{ artist.name }}</small>
      </div>
      <p class="mb-1">{{ artist.reknown }}</p>
      <small (click)="showArtist($event)" style="background-color:blue;">{{ artist.bio }}</small>
    </a>
  </div>
</div>